---
services:
  zookeeper:
    image: 'bitnami/zookeeper:latest'
    expose:
      - 2181
    environment:
      - ALLOW_ANONYMOUS_LOGIN=yes
    restart: always

  kafka:
    image: 'bitnami/kafka:3.2.3-debian-11-r52'
    ports:
      - '9092:9092'
    environment:
      - KAFKA_BROKER_ID=1
      - KAFKA_CFG_LISTENERS=PLAINTEXT://:9092
      - KAFKA_CFG_ADVERTISED_LISTENERS=PLAINTEXT://127.0.0.1:9092
      - KAFKA_CFG_ZOOKEEPER_CONNECT=zookeeper:2181
      - ALLOW_PLAINTEXT_LISTENER=yes
      - KAFKA_CREATE_TOPICS=currency-rates
    depends_on:
      - zookeeper
    restart: always

  postgres:
    image: 'postgres:15.0-alpine'
    ports:
      - '5432:5432'
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: postgres
    restart: always

###
# раскомментировать для проверки запуска приложения
###

  service:
   build:
     context: .
     dockerfile: Dockerfile
   env_file: .env
   ports:
     - '8080:8080'
   depends_on:
     - postgres
     - kafka
   restart: always
